<ion-view view-title="Start Survey" class="profile">
<ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> Stores
        </ion-nav-back-button>
    </ion-nav-bar>
<ion-content>
 <div class="container">
            <div class="content">
            	<a href="#/begin-survey" class="button button-clear button-positive">                        	
                  <h4>Take Survey</h4>
                </a>     
            </div>
</div>
</ion-content>
</ion-view>
